{% extends "base.html" %}

{% block title %}ArcadeArchive - Home{% endblock %}

{% block content %}

    <h1>Game Lobby</h1>
    <p>Select a game to play!</p>

    <div class="game-list">

        {% for game in games %}

        <a href="{{ url_for('game', game=game.id) }}" class="card-link">
            <div class="game-card">
                <h2>{{ game.name }}</h2>
                <p>{{ game.description }}</p>
            </div>
        </a>

        {% endfor %}

    </div>
    
{% endblock %}